// Spinner Variables
$skeleton-default-color: #dfdede;
$spinner-color: #8b8b8b;
$spinner-size: (120px);

// Colors
$header-bgc: #316be7;
$label-bgc: #6d7ae0;
$label-color: #edf8ff;
$bgc-color: #f1f1f1;
$selected-color: #adb2d6;
$wrong-input: #e46161;

// Fonts
$label-font-size: 18px;
